<%- include('partials/header.ejs') %>

    <div class="outer-flex-container">
        <div class="grid-container">
            <div class="grid1">
                <h1>hello, world!</h1>
                <span>With memes in my pocket and dreams in my soul, I'll conquer the world and make it my goal</span>
            </div>
            <div class="grid2">
                <img src="./assets/images/profile-pic.jpg" alt="Profile picture of Shivan Anand">
                <h2>Shivan Anand</h2>
                <p>PORTFOLIO</p>
                <span>With memes in my pocket and dreams in my soul, I'll<br> conquer the world and make it my goal</span>
                <div class="white-box">
                    <a class="fa-brands fa-linkedin" href="https://www.linkedin.com/in/shivan-anand-/" target="_blank"></a>
                    <a class="fa-brands fa-github" href="https://github.com/SHIVANANAND" target="_blank"></a>
                    <a class="fa-brands fa-twitter" href="https://x.com/SHIVAN_ANAND_" target="_blank"></a>
                </div>
            </div>
            <div class="grid3">
                <p>
                    I am a BTech student at Guru Gobind Singh Indraprastha University East
                    Delhi Campus, specializing in web development. I have experience building
                    dynamic and responsive websites using <b>HTML</b>, <b>CSS</b>, <b>JavaScript</b>, and
                    frameworks like <b>React</b> and <b>Node.js</b>. I am passionate about web development
                    and <b>blockchain technologies</b>, constantly exploring new trends to enhance my
                    skills. This website showcases my portfolio and projects, highlighting my
                    journey in the world of coding and innovation. Welcome to my world of
                    creativity and technical prowess!
                </p>
            </div>
        </div>
    </div>

<%- include('partials/footer.ejs') %>