<%- include('partials/header.ejs') %>

<div class="resume-outer-container">
    <div class="resume-inner-container">
        <h1>Resume</h1>
        <h2>Education</h2>
        <div class = "education-grid">
            <img src="./assets/images/ggsipu-logo.png" alt="GGSIPU Logo">
            <div class="content">
                <p class="year">2022 - 2025</p>
                <p class="name">Guru Gobind Singh<br />Indraprastha University</p>
                <p class="specializing">Btech in Artificial Intelligence and<br />Data Science</p>
                <p class="location">Delhi, India</p>
            </div>
            <img src="./assets/images/kv-logo.png" alt="KV Logo">
            <div class="content">
                <p class="name">Kendriya Vidhyalaya</p>
                <p class="specializing">During my time in higher Secondary<br />school, I developed a strong foundation<br />in Mathematics and Computer Science.<br />These subjects sparked my interest in<br />the field of Artificial Intelligence and Data Science.</p>
            </div>
        </div>
        <h2 id="pro-skills">Professional skillset</h2>
        <div class="skill-grid">
            <p><b>HTML</b></p>
            <p><b>CSS</b></p>
            <p><b>Flexbox</b></p>
            <p><b>Grid</b></p>
            <p><b>Bootstrap</b></p>
            <p>Web Design</p>
            <p>DOM</p>
            <p><b>JavaScript</b></p>
            <p><b>React.js</b></p>
            <p>The Unix Command line</p>
            <p>Git Github and Version Control</p>
            <p><b>Node.js</b></p>
            <p><b>Express.js</b></p>
            <p><b>APIs</b></p>
            <p>EJS</p>
            <p>Database Fundamentals</p>
            <p>SQL Databases</p>
            <p><b>Postgres</b> Databases</p>
            <p>Deployment</p>
            <p>Building <b>REST</b>ful APIs</p>
            <p>Authentication and Security</p>
            <p>Web3 Basics and Blockchain Development</p>
        </div>
    </div>
</div>

<%- include('partials/footer.ejs') %>