@font-face {
    font-family: 'Proxima N W01 Reg';
    src: url('./assets/fonts/Proxima N W01 Reg.ttf');
}
@font-face {
    font-family: 'Coquette W00 Light';
    src: url('./assets/fonts/Coquette W00 Light.ttf');
}
@font-face {
    font-family: 'Avenir LT Pro 35 Light';
    src: url('./assets/fonts/Avenir LT Pro 35 Light.ttf');
}
@font-face {
    font-family: 'Quicksand';
    src: url('./assets/fonts/Quicksand.ttf');
}
@font-face {
    font-family: 'Barlow';
    src: url('./assets/fonts/Barlow-ExtraLight.ttf');
}
@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('./assets/fonts/Poppins-SemiBold.ttf');
}





header {
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
    padding-top: 20px;
    padding-right: 20px;
}
header a {
    font-family: "Avenir LT Pro 35 Light";
    color: black;
    text-decoration: none;
}
.current-link {
    color: rgb(0, 80, 255);
}
header a:hover {
    color: rgb(0, 80, 255);
    text-decoration: none; 
}


.outer-flex-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    height: 70%;
    width: 75%;
    display: grid;
    gap: 2rem;
    grid-template-columns: 0.4fr 0.6fr;
}
.grid1 {
    order: 1;
}
.grid2 {    
    grid-row: span 2;
    background-color: #f4ece6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: -4px 10px 10px rgba(0, 0, 0, 0.1);
}
.grid3 {
    order: 1;
}

.grid1 h1 {
    font-family: "Proxima N W01 Reg";
    font-size: 76px;
    margin-bottom: 0%;
}
.grid1 span {
    font-family: "Coquette W00 Light";
    font-size: 11px;
    margin-top: 0%;
}
.grid3 p {
    font-family: "Avenir LT Pro 35 Light";
    font-size: 17px;
}

.grid2 img {
    height: 205px;
    width: 205px;
    border-radius: 50%;
}

.grid2 h2 {
    font-family: poppins-semibold, poppins, sans-serif;
    font-size: 27px;
    padding-bottom: 30px;
    border-bottom: 2px solid rgb(0, 80, 255);
}

.grid2 p {
    font-family: "Avenir LT Pro 35 Light";
    font-size: 17px;
    letter-spacing: 4.25px;
}

.grid2 span {
    display: none;
}

.grid2 .white-box {
    background-color: white;
    padding: 10px 69px;
    font-size: large;
}

.fa-brands {
    color: black;
    text-decoration: none;
}

.fa-brands:hover {
    color: rgb(0, 80, 255);
    text-decoration: none; 
}

footer {
    font-family: "Avenir LT Pro 35 Light";
    font-size: 14px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 150px;
}

@media (max-width: 900px) {
    .grid1, .grid2, .grid3 {
        order: 0;
    }
    .grid-container {
        grid-template-columns: 1fr;
        width: 90%;
    }
    .grid2 {
        grid-row: span 1;
        height: 500px;
    }
    .grid1 h1 {
        font-size: 33px;
        text-align: center;
    }
    .grid1 span {
        display: none;
    }
    .grid2 img {
        height: 120px;
        width: 120px;
    }
    .grid2 h2 {
        font-size: 21px;
        padding-bottom: 15px;
    }
    .grid2 p {
        display: none;
    }
    .grid2 span {
        display: block;
        font-family: "Coquette W00 Light";
        font-size: 13px;
        margin-top: 0%;
        text-align: center;
        font-weight: 500;
        padding-bottom: 20px;
    }
    .grid3 p {
        font-size: 17px;
        text-justify: auto;
    }

    header {
        padding-right: 0px;
        justify-content: center;
    }

    footer {
        position: relative;
        top: 300px;
    }
}

.resume-outer-container {
    /* height: 100vh; */
    display: flex;
    justify-content: center;
}

.resume-inner-container {
    width: 50%;
}

.resume-inner-container h1 {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    text-align: center;
    padding: 40px;
}
.resume-inner-container h2 {
    font-family: "Poppins";
    padding: 40px;
}
.education-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.education-grid > * {
    padding: 50px;
}
.education-grid img {
    width: 50%;
    justify-self: center;
}
.content > * {
    margin: 0;
    padding: 0;
    padding-left: 20px;
}
.content .year {
    font-family: "Barlow", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 14px;
}
.content .name, .content .specializing, .content .location {
    font-family: "Avenir LT Pro 35 Light";
}
.content .name {
    margin-top: 10px;
    font-size: 17px;
}
.content .specializing, .content .location {
    font-size: 14px;
    margin-top: 10px;
}
.content .specializing { 
    margin-bottom: 20px;
}

#pro-skills {
    margin-top: 100px;
}
.skill-grid {
    padding-left: 20%;
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    font-family: "Avenir LT Pro 35 Light";
    font-size: 14px;
}

@media (max-width: 900px) {
    .resume-inner-container {
        width: 100%;
    }
    .education-grid {
        grid-template-columns: 1fr;
    }
}


.hero-image {
    width: 981px;
    height: 528px;
    filter: drop-shadow(0px 44px 34px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
}
.author-heading {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    text-align: center;
    padding: 40px;
}

.responsive-image {
    width: 100%;
    height: auto;
}

.blog-container {
    max-width: 982px;
    margin: 0 auto;
    padding: 0 10px;
    font-family: poppins-semibold, poppins, sans-serif;
}

.author {
    padding: 10px 0;
}

.author-body {
    margin: 5px 0 40px 0;
}

.articles-heading {
    margin-top: 4rem;
    font-weight: 400;
}

.article-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.article-list-date {
    color: grey;
    width: 260px;
    display: inline-block;
}

.article-ul li a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    margin: 18px 0;
    color: black;
}
.articles a:hover {
    color: rgb(0, 80, 255);
}
.article-list-date:hover {
    color: black;
}
@media(min-width: 700px) {
    .article-ul li a {
        flex-direction: row;
        align-items: center;
    }
    .article-list-date {
        text-align: right;
    }
}

.article-ul li {
    cursor: pointer;
    border-bottom: 1px dashed lightgray;

}

.pagination {
    color: black;
    text-decoration: none;
    margin-top: 40px;
    display: inline-block;
}
.pagination:hover {
    color: rgb(0, 80, 255);
}

.project-body:hover {
    color: black;
}